{% extends 'frontend.html.twig' %}

{% block beta %}
  {% if type == 'Ghostword' %}
    Ghostwords
  {% else %}
    Neue Wörter
  {% endif %}
  {% if compilation %}
    für {{ compilation.short }}
  {% endif %}
{% endblock %}

{% block gamma %}
  {% if compilation %}
    Gehe zu <a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'bl', 'id': compilation.volume }) }}" title="{{ compilation.short }}">{{ compilation.short|replace({' ' : '&nbsp;'})|raw }}</a>
  {% else %}
    Die Listen sind noch unvollständig und noch nicht einzelnen Korrekturen zugeordnet. Sie werden kontinuierlich erweitert und sollen langfristig auf die Korrekturen verweisen, auf die sie sich in den jeweiligen Bänden beziehen.
  {% endif %}
{% endblock %}

{% block lefty_title %}Kategorien{% endblock %}

{% block lefty %}
  <ul>
    {% for topic, list in indexEntries %}
      <li><a href="#{{ topic | replace({ ' ': '_'}) }}">{{ topic }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block righty_title %}
  {% if app.user and compilation %}
    Index für:
  {% endif %}
{% endblock %}

{% block righty %}
  {% if app.user %}
    <ul>
      {% for c in compilations %}
        <li><a href="{{ path(type == 'Neues Wort' ? 'PapyrillioBeehive_IndexEntryNew' : 'PapyrillioBeehive_IndexEntryGhostword', {'compilationId': c.id}) }}">{{ c.short }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block body %}

{% for topic, list in indexEntries %}
   <h4 id="{{ topic | replace({ ' ': '_'}) }}">{{ topic }}{% if app.user and compilation %}&nbsp;<a href="{{path('PapyrillioBeehive_IndexEntryManageAssignments', {'compilationId' : compilation.id, 'type': type, 'topic': topic})}}" style="font-size: .8em; color: darksalmon;">bearbeiten</a>&nbsp;<a href="javascript: return false;" onclick="$('#unassigned_{{topic|replace({' ': '_', ',': '_', 'ö': 'oe'})}}').show();" style="font-size: .8em; color: darksalmon;">ausstehende anzeigen</a>{% endif %}</h4>
   {% if app.user and compilation %}
     <div id="unassigned_{{topic|replace({' ': '_', ',': '_', 'ö': 'oe'})}}" style="background-color: lightgrey; display: none;">
       ausstehend für <b>{{topic}}</b>: <a href="javascript: return false;" onclick="$('#unassigned_{{topic|replace({' ': '_', ',': '_', 'ö': 'oe'})}}').hide();" style="font-size: .8em; color: darksalmon;">verbergen</a><br/>
       <ul style="columns: 5; background-color: lightgrey;">
       {% for u in unassigned %}
       <li>{% if u.topic == topic %}{{ u.phrase }}{% endif %}</li>
       {% endfor %}
       </ul>
     </div>
   {% endif %}
   <ul class="indexEntry"><!--  style="column-count: 2" -->
      {% for i in list %}
        <li id="{{ i.id }}" class="phrase">
          <span class="phrase">{{ i.phrase }}</span>
          {% if not compilation and i.compilations|length > 0 %}<span class="biblio">,&nbsp;{% for c in i.compilations %}{% if loop.first == false  %}, {% endif %}<a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'bl', 'id': c.volume }) }}" title="{{ c.short }}">{{ c.short|replace({' ' : '&nbsp;'})|raw }}</a>{% endfor %}</span>
          {% else %}<span class="biblio">,&nbsp;S. {% for c in i.corrections %}{% if not loop.first %}, {% endif %}{{ c.compilationPage }}{% endfor %}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
{% endfor %}

{% endblock %}
