{% extends 'frontend.html.twig' %}

{% set topic = '' %}

{% block beta %}
{% if indexEntries[0].type == 'Ghostword' %}
Ghostwords
  {% else %}
  Neue Wörter
  {% endif %}
{% endblock %}

{% block lefty_title %}Kategorien{% endblock %}

{% block lefty %}
<ul>
  {% for i in indexEntries %}
    {% if i.topic != topic %}
      <li><a href="#{{ i.topic | replace({ ' ': '_'}) }}">{{ i.topic }}</a></li>
      {% set topic = i.topic %}
    {% endif %}
  {% endfor %}
</ul>
{% endblock %}

{% block body %}

<table class="indexEntry">
  <!--thead>
    <tr>
      <th class="topic">Thema</th>
      <th class="phrase">Wort</th>
      <th class="context">Kontext</th>
      <th class="biblio">Bibliographie</th>
    </tr>
  </thead-->
  <tbody>
    {% for i in indexEntries %}
      {% if i.topic != topic %}
        <tr class="topic">
          <th class="topic" colspan="3">
            <h4 id="{{ i.topic | replace({ ' ': '_'}) }}">{{ i.topic }}</h4>
            {% set topic = i.topic %}
          </th>
        </tr>
      {% endif %}
      <tr id="{{ i.id }}" class="phrase">
        <td class="phrase">
          {{ i.phrase }}
        </td>
        <td class="context" title="{{ i.correction.description }}">
           <a href="{{ path('PapyrillioBeehive_CorrectionShow', {'id': i.correction.id}) }}">BL&nbsp;{{ i.correction.compilation.title }}{% if i.correction.compilationPage %}&nbsp;S.&nbsp;{{ i.correction.compilationPage }}{% endif %}{% if i.correction.compilationIndex %}&nbsp;#&nbsp;{{ i.correction.compilationIndex }}{% endif %}</a>
        </td>
        <td class="biblio">
          {% if i.correction.source %}
            <a href="http://papyri.info/biblio/{{ i.correction.source }}">Biblio</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
