{% extends 'frontend.html.twig' %}

{% block beta %}
  {% if type == 'Ghostword' %}
    Ghostwords
  {% else %}
    Neue Wörter
  {% endif %}
{% endblock %}

{% block gamma %}
  Die Listen sind noch unvollständig und noch nicht einzelnen Korrekturen zugeordnet. Sie werden kontinuierlich erweitert und sollen langfristig auf die Korrekturen verweisen, auf die sie sich in den jeweiligen Bänden beziehen.
{% endblock %}

{% block lefty_title %}Kategorien{% endblock %}

{% block lefty %}
<ul>
  {% for topic, list in indexEntries %}

    <li><a href="#{{ topic | replace({ ' ': '_'}) }}">{{ topic }}</a></li>

  {% endfor %}
</ul>
{% endblock %}

{% block body %}

{% for topic, list in indexEntries %}
   <h4 id="{{ topic | replace({ ' ': '_'}) }}">{{ topic }}</h4>
   <ul class="indexEntry"><!--  style="column-count: 2" -->
      {% for i in list %}
        <li id="{{ i.id }}" class="phrase">
        {% if i.compilations|length > 0 %}
          <span class="phrase">{{ i.phrase }}</span><span class="biblio">,&nbsp;siehe 
            {% for c in i.compilations %}{% if loop.first == false  %}, {% endif %}<a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'bl', 'id': c.volume }) }}" title="{{ c.short }}">{{ c.short|replace({' ' : '&nbsp;'})|raw }}</a>{% endfor %}
          </span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
{% endfor %}


{% endblock %}
