<table class="register">
  <thead>
    <tr>
      <th scope="col" class="tm">TM</th>
      <th scope="col" class="hgv">HGV</th>
      <th scope="col" class="ddbdp">DDB</th>
      <th scope="col" class="link">Links</th>
      <th scope="col" class="action"></th>
    </tr>
  </thead>
  <tbody>
    {% if correction %}
      {% for registerEntry in correction.registerEntries %}
        <tr>
          <td>{{registerEntry.tm}}</td>
          <td>{{registerEntry.hgv}}</td>
          <td>{{registerEntry.ddb}}</td>
          <td>
            <ul class="registerLinks">
              {% for name,link in registerEntry.links %}
                <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
              {% endfor %}
            </ul>
          </td>
          <td class="actionHolder">
            <a href="{{ registerEntry.id }}" onclick="javascript: $('#registerFolder').load('{{ path('PapyrillioBeehiveBundle_registerrevokeassignment', {'registerId': registerEntry.id, 'correctionId': correction.id}) }}'); return false;" title="{{ registerEntry.id }}">Zuordnung aufheben</a>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr><td colspan="5">nichts…</td></tr>
    {% endif %}
  </tbody>
</table>