<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/960/reset.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/960/text.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/960/960.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/dark-hive/jquery-ui-1.8.17.custom.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="site">
            <div id="header">
              {% if app.user %}
                Hallo {{ app.user.name }}!
              {% else %}
                <a href="{{ path('login') }}">Login</a>
              {% endif %}
            </div>
            <div id="content">
                {% block body %}{% endblock %}
            </div>
            <div id="footer">
                <p>
                    {% if app.user %}
                      <a href="{{ path('logout') }}">Abmelden</a>
                    {% endif %}
                    <a href="{{ path('PapyrillioBeehiveBundle_about') }}">Info</a>
                    <a href="{{ path('PapyrillioBeehiveBundle_contact') }}">Kontakt</a>
                    <a href="{{ path('PapyrillioBeehiveBundle_help') }}">Hilfe</a>
                </p>
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery/jquery-1.7.1.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery/jquery-ui-1.8.17.custom.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
