<?xml version ="1.0" encoding="utf-8"?>
<rows>
  <page>{{ page }}</page>
  <total>{{ totalPages }}</total>
  <records>{{ count }}</records>
  {% for correction in corrections %}
    <row id = '{{ correction.id }}'>
      <cell>{{ correction.compilation.title }}</cell>
      <cell>{{ correction.compilationPage }}</cell>
      <cell>{{ correction.compilationIndex }}</cell>
      <cell>{{ correction.distinctTm | join(', ') }}</cell>
      <cell>{{ correction.distinctHgv | join(', ') }}</cell>
      <cell>{{ correction.distinctDdb | join(', ') }}</cell>
      <cell>{{ correction.source }}</cell>
      <cell><![CDATA[<a href="{{ path('PapyrillioBeehive_CorrectionShow', {'id': correction.id}) }}" title="{{ correction.edition.sort }}={{ correction.edition.title }}">{{ correction.edition.title }}</a>]]></cell>
      <cell>{{ correction.text }}</cell>
      <cell>{{ correction.position }}</cell>
      <cell>{{ correction.description }}</cell>
      <cell>{{ correction.status }}</cell>
      <cell>{{ correction.creator }}</cell>
      <cell>{{ correction.created.format('d.m.Y H:i') }}</cell>
      {% for task in ['bl', 'tm', 'hgv', 'ddb', 'apis', 'biblio'] %}
        <cell>{% if correction.hasTask(task) %}<![CDATA[<span title="{{ correction.taskString(task) }}">{{ correction.hasOpenTask(task) ? '✘' : '✔' }}</span>]]>{% endif %}</cell>
      {% endfor %}
    </row>
  {% endfor %}
</rows>