{% extends 'frontend.html.twig' %}
{% set c = corrections|first %}
{% set r = c.registerEntries|first %}
{% set comp = compilations|first %}

{% block beta %}
  {{ title }}
{% endblock %}

{% block gamma %}
  {% if type != 'collection' %}
  Die Inhalte der angezeigten Korrekturen stammen aus den Online-Best채nden von

  {% for coi in compilationsOfInterest %}
   {% if loop.first == false  %}, {% endif %}<a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'bl', 'id': coi.volume }) }}" title="{{ coi.short }}">{{ coi.short|replace({' ' : '&nbsp;'})|raw }}</a>
  {% endfor %}

  {% if r %}
  <br />
  Weitere identifier und Links: HGV {{ r.hgv }}
  =
  <a href="http://www.trismegistos.org/text/{{ r.hgv }}"  title="Weitere Informationen auf Trismegistos" target="_blank">TM {{ r.tm }}</a>
  =
  <a href="https://papyri.info/hgv/{{ r.hgv }}"  title="Weitere Informationen auf papyri.info" target="_blank">{{ r.ddb }}</a>
  {% endif %}
  {% endif %}
{% endblock %}

{% set edition = '' %}
{% set collection = '' %}

{% block lefty_title %}
  {% if type == 'volume' %}
    {{ id }} in
    <br/>
    BL&nbsp;Online
  {% elseif type == 'register' %}
    Editionen f체r Register-Id {{ id }}
  {% elseif type == 'collection' and id == 'ddb'  %}
    Editionen f체r BOEP doc.
  {% elseif type == 'collection' and id == 'dclp'  %}
    Editionen f체r BOEP lit.
  {% else %}
    Editionen in
    <br />
    {% if type == 'collection' %}
      {{ comp.collection }}
    {% elseif type == 'tm' or  type == 'hgv' or  type == 'ddb' or  type == 'biblio' %}
      {% if type == 'tm' or  type == 'hgv' or  type == 'biblio' %}{{ type | upper }}&nbsp;{% endif %}{{ id }}
    {% elseif c is not null and c is not empty %}
      {{c.compilation.short}}
    {% endif %}
  {% endif %}
{% endblock %}

{% block lefty %}
<ul>
  {% if type == 'boep' and id != 'Bulletin of Online Emendations to Papyri' %}
    {% for c in corrections %}
      {% set currentCollection = c.registerEntries|length and c.registerEntries|first.dclp|length ? 'DCLP' : 'DDB' %}
          {% if currentCollection != collection %}
          <li><a href="#{{ currentCollection }}">{{ currentCollection }}</a></li>
          {% set collection = currentCollection %}
          {% endif %}
    {% endfor %}
    <hr />
  {% endif %}
  {% for c in corrections %}
      {% if c.edition.title != edition %}
        <li><a href="#{{ c.edition.title|replace({' ': '_', '.': ''}) }}" class="edition">
            {{ c.edition.title }}
            </a>
            </li>
            {% set edition = c.edition.title %}
      {% endif %}
  {% endfor %}
</ul>
{% endblock %}


{% block righty_title %}
  {% if type == 'tm' or type == 'hgv' or type == 'ddb' or type == 'volume' or type == 'biblio' or type == 'register' %}
  {% else %}
  weitere
  {{ comp.collection }}s
  {% endif %}
{% endblock %}

{% block righty %}
  {% if type == 'tm' or type == 'hgv' or type == 'ddb' or type == 'volume' or type == 'biblio' or type == 'register' %}
  {% else %}
    <ul>
      {% for c in compilations %}
        {% if c.collection == 'BOEP' %}
          <li><a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'boep', 'id': c.title }) }}">{{ c.item}}</a></li>
        {% else %}
          {% if c.volume < 14 or c.volume > 100 %}
            <li><a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'bl', 'id': c.volume }) }}">{{ c.short}}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block body %}

  {% if c is not null and c is not empty and c.compilation.collection == 'BOEP' %}
    {% include 'apiary/snippetBoep.html.twig' with {'corrections': corrections, 'type': type, 'id': id} %}
  {% else %}
    {% include 'apiary/snippetHoney.html.twig' with {'corrections': corrections, 'type': type, 'id': id} %}
  {% endif %}

{% endblock %}
