{% extends 'frontend.html.twig' %}
{% set c = corrections|first %}

{% block beta %}
  {{ title }}
{% endblock %}

{% block gamma %}
  Achtung der Inhalt der angezeigten {{ c is not null and c is not empty ? c.compilation.collection : 'Editionen' }} bla bla bla…
  <br />
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus commodo mattis sapien et ultricies.
{% endblock %}

{% set edition = '' %}
{% set collection = '' %}

{% block lefty %}
<ul>

  {% if type == 'boep' and id != 'Bulletin of Online Emendations to Papyri' %}
    {% for c in corrections %}
      {% set currentCollection = c.registerEntries|length and c.registerEntries|first.dclp|length ? 'DCLP' : 'DDB' %}
          {% if currentCollection != collection %}
          <li><a href="#{{ currentCollection }}">{{ currentCollection }}</a></li>
          {% set collection = currentCollection %}
          {% endif %}
    {% endfor %}
    <hr />
  {% endif %}
  {% for c in corrections %}
      {% if c.edition.title != edition %}
        <li><a href="#{{ c.edition.title != edition ? 'e' ~ c.edition.sort : '2' }}" class="edition">
            {{ c.edition.title }}
            </a>
            </li>
            {% set edition = c.edition.title %}
      {% endif %}
  {% endfor %}
</ul>
{% endblock %}

{% block righty %}
<ul>
  {% for c in compilations %}
    
    {% if c.collection == 'BOEP' %}
      <li><a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'boep', 'id': c.title }) }}">{{ c.short}}</a></li>
    {% else %}
      {% if c.volume < 14 or c.volume > 100 %}
        <li><a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'bl', 'id': c.volume }) }}">{{ c.short}}</a></li>
      {% endif %}
    {% endif %}
    
  {% endfor %}
</ul>
{% endblock %}

{% block body %}

  {% if c is not null and c is not empty and c.compilation.collection == 'BOEP' %}
    {% include 'apiary/snippetBoep.html.twig' with {'corrections': corrections, 'type': type, 'id': id} %}
  {% else %}
    {% include 'apiary/snippetHoney.html.twig' with {'corrections': corrections, 'type': type, 'id': id} %}
  {% endif %}

{% endblock %}
