{% set edition = '' %}
{% set text = '' %}
{% set collection = '' %}

<table class="apiary">
  <!--thead>
    <tr>
      <th class="edition">Edition</th>
      <th class="text">Text</th>
      <th class="position">Position</th>
      <th class="description">Description</th>
      <th class="bl">BL</th>
    </tr>
  </thead-->
  <tbody>

    {% for c in corrections %}
      {% if type == 'boep' and id != 'Bulletin of Online Emendations to Papyri' %}
        {% set currentCollection = c.registerEntries|length and c.registerEntries|first.dclp|length ? 'DCLP' : 'DDB' %}
        {% if currentCollection != collection %}
          <tr><th colspan="5"><h3 id="{{ currentCollection }}">{{ currentCollection }}</h3></th></tr>
          {% set collection = currentCollection %}
        {% endif %}
      {% endif %}
      <tr id="{{ c.id }}">
        <td {{ c.edition.title != edition ? 'id=e' ~ c.edition.sort : '' }} class="edition">
          {% if c.edition.title != edition %}
            {{ c.edition.title }}
            {% set edition = c.edition.title %}
            {% set text = '' %}
          {% endif %}
        </td>
        <td class="text">
          {% if c.text != text %}
            {{ c.text }}
            {% set text = c.text %}
          {% endif %}
        </td>
        <td class="position">{{ c.position }}</td>
        <td class="description">{{ c.description }}</td>
        <td class="bl">
          <a href="{{ path('PapyrillioBeehive_CorrectionShow', {'id': c.id}) }}" title="{{ c.compilation.title }}{% if c.compilationPage %}&nbsp;S.&nbsp;{{ c.compilationPage }}{% endif %}{% if c.compilationIndex %}&nbsp;#&nbsp;{{ c.compilationIndex }}{% endif %}">{{ c.compilation.short }}{% if c.compilationPage %}&nbsp;S.&nbsp;{{ c.compilationPage }}{% endif %}{% if c.compilationIndex %}&nbsp;#&nbsp;{{ c.compilationIndex }}{% endif %}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
