{% extends 'base.html.twig' %}

{% block body %}

  {% include 'tinkerkit/_indexEntryAssignmentsParameterControl.html.twig' with {'compilationList': compilationList, 'compilationId': compilationId, 'type': type, 'topicList': topicList, 'topic': topic, 'search': search} %}

  <input type="submit" onclick="window.location='{{ path('PapyrillioBeehive_IndexEntryNew', {'compilationId': compilationId, 'type': type}) }}'" value="zur Ansicht" />

  <form>
    <input name="compilationId" type="hidden" value="{{ compilationId }}" />
    <input name="type" type="hidden" value="{{ type }}" />
    <input name="topic" type="hidden" value="{{ topic }}" />
    <input name="search" type="hidden" value="{{ search }}" />

    {% set tab = '' %}
    <div id="indexEntryMangager">
      <div id="indexEntryList">
        <ul style="list-style: none;">
          {% for indexEntry in indexEntryList %}
            {% if indexEntry.tab != tab %}
              <li style="margin: 4px 2px 0 2px; font-weight: bold; font-size: bigger; padding: 4px 0 4px 0; border-bottom: 1px solid lightsteelblue">{{ indexEntry.tab }}</li>
              {% set tab = indexEntry.tab %}
            {% endif %}
            <li style="margin: 0 2px 0 2px;">{{ indexEntry.phrase }}
            {% if indexEntry.corrections|length %}
              <ul>
                {% for c in indexEntry.corrections %}
                  <li>{{ c.description}}, S. {{ c.compilationPage }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            </li>
          {% endfor%}
        </ul>
      </div>

      {% set editionTitle = '' %}
      <div id="correctionList">
        <ul style="list-style: none;">
          {% for c in correctionList %}
            {% if c.edition.title != editionTitle %}
              <li style="margin: 4px 2px 0 2px; font-weight: bold; font-size: bigger; padding: 4px 0 4px 0; border-bottom: 1px solid lightsteelblue">{{ c.edition.title }}</li>
              {% set editionTitle = c.edition.title%}
            {% endif %}
            <li title="{{ c.edition.title }} {{ c.text }} {{ c.position }} (S. {{ c.compilationPage }})">{{ c.description }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </form>

  <br class="clear"/>
  

{% endblock %}

