{% extends 'base.html.twig' %}

{% block body %}

  {% include 'tinkerkit/_indexEntryAssignmentsParameterControl.html.twig' with {'compilationList': compilationList, 'compilationId': compilationId, 'type': type, 'topicList': topicList, 'topic': topic, 'search': search} %}

  <form>
    <input name="compilationId" type="hidden" value="{{ compilationId }}" />
    <input name="type" type="hidden" value="{{ type }}" />
    <input name="topic" type="hidden" value="{{ topic }}" />
    <input name="search" type="hidden" value="{{ search }}" />

    <div>
      <div>
        <ul>
          {% for indexEntry in indexEntryList %}
            <li>{{ indexEntry.phrase }}</li>
          {% endfor%}
        </ul>
      </div>

      <div>
        <ul>
          {% for c in correctionList %}
            <li title="{{ c.edition.title }} {{ c.text }} {{ c.position }}">{{ c.description }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </form>

{% endblock %}
