{% extends 'frontend.html.twig' %}

{% block title %}
  Editionen|{{ parent() }}
{% endblock %}

{% block beta %}
  Liste der Editionen nach BL editie
{% endblock %}

{% block righty %}
  <a href="{{ path('PapyrillioBeehive_Register', {}) }}" title="View editions clustered by ddb-hybrid volumes">Editionen nach DDB</a>
  <a href="{{ path('PapyrillioBeehive_Register', {'collection': 'dclp'}) }}" title="View editions clustered by dclp-hybrid volumes">Editionen nach DCLP</a>
{% endblock %}

{% block body %}
<ul style="columns: 4">
  {% for edition in editions %}
  <li>
  <a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'editie', 'id': edition.id}) }}" title="{{ edition.sort }}">{{ edition.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
