{% extends 'frontend.html.twig' %}

{% block beta %}
  Liste der Editionen nach {{ collection|upper }} editions
{% endblock %}

{% block gamma %}
  {% if collection == 'dclp' %}
    Achtung inner join, der einige Datensätze unberücksichtig lässt
  {% endif %}
{% endblock %}

{% block lefty_title %}
  
{% endblock %}

{% block lefty %}

{% endblock %}


{% block righty_title %}
  
{% endblock %}

{% block righty %}
  <a href="{{ path('PapyrillioBeehive_Editions', {}) }}" title="View traditional BL editions">BL Editie</a>
  {% if collection != 'ddb' %}
    <a href="{{ path('PapyrillioBeehive_Register', {}) }}" title="View editions clustered by ddb-hybrid volumes">DDB editions</a>
  {% endif %}
  {% if collection != 'dclp' %}
    <a href="{{ path('PapyrillioBeehive_Register', {'collection': 'dclp'}) }}" title="View editions clustered by dclp-hybrid volumes">DCLP editions</a>
  {% endif %}
{% endblock %}

{% block body %}
<ul style="columns: 4">
  {% for volume in register %}
  <li>
    <a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'volume', 'id': volume.series_volume }) }}" title="{{ volume.series }}">{{ volume.title ? volume.title : volume.series_volume }} <span style="color: grey;">({{ volume.count_corrections }})</span></a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
