{% extends '::plain.html.twig' %}

{% block body %}

{% set edition = '' %}
{% set text = '' %}

<table class="apiary">
  <!--thead>
    <tr>
      <th class="edition">Edition</th>
      <th class="text">Text</th>
      <th class="position">Position</th>
      <th class="description">Description</th>
      <th class="bl">BL</th>
    </tr>
  </thead-->
  <tbody>
    {% for c in corrections %}
      
      <tr id="{{ c.id }}">
        <td class="edition">
          {% if c.edition.title != edition %}
            {{ c.edition.title }}
            {% set edition = c.edition.title %}
            {% set text = '' %}
          {% endif %}
        </td>
        <td class="text">
          {% if c.text != text %}
            <a href="{{ path('PapyrillioBeehiveBundle_correctionshow', {'id': c.id}) }}">{{ c.text }}</a>
            {% set text = c.text %}
          {% endif %}
        </td>
        <td class="position">{{ c.position }}</td>
        <td class="description">{{ c.description }}</td>
        <td class="bl">→&nbsp;BL&nbsp;{{ c.compilation.title }}{% if c.compilationPage %}&nbsp;S.&nbsp;{{ c.compilationPage }}{% endif %}
        </td>
        <td class="source">{% if c.source %}

        <a href="http://papyri.info/biblio/{{ c.source }}">Bibliography</a>
        {% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>  

{% endblock %}
