<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}𐇴 Beehive\BL-online 𐇴{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/960/reset.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/960/text.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/960/960.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/frontend.css') }}?8" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/print.css') }}?3" type="text/css" rel="stylesheet" media="print" /><!--  media="print" -->
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% include 'matomo.html' %}
    </head>
    <body>
        {% if app.environment == 'dev' %}
          <img src="{{ asset('images/dev.png') }}" alt="bleeding edge" width="100" style="position: fixed; right: 0; z-index: 999;" />
        {% endif %}
<div id="container" class="container_12">

	<div id="header" class="container_12">
		<div id="subHeader" class="grid_10">
			<div id="navigation" class="grid_10">
			  <a href="{{ path('PapyrillioBeehive_Home') }}">Startseite</a>
			  <a href="{{ path('PapyrillioBeehive_CorrectionList') }}">Admin</a>
			  {% if app.user %}
			    <a href="{{ path('PapyrillioBeehive_Logout') }}">Logout</a>
			  {% else %}
  			    <a href="{{ path('PapyrillioBeehive_Login') }}">Login</a>
              {% endif %}
            </div>
			<div id="alpha" class="grid_10">
        <h1>Berichtigungsliste – Online</h1>
			</div>
			<div id="beta" class="grid_10">
        <h2>{% block beta %}{% endblock %}</h2>
			</div>
			<div id="gamma" class="grid_10">
                <p>{% block gamma %}{% endblock %}</p>
			</div>
		</div>
		<div id="logo" class="grid_2">&nbsp;</div>
	</div>

	<div id="left" class="grid_2">
		<div class="sidebarSection">
			<h2><a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'bl', 'id': 13}) }}">BL Online</a></h2>
		</div>
		<div class="sidebarSection">
			<h2><a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'collection', 'id': 'BOEP'}) }}">BOEP</a></h2>
		</div>
		<div class="sidebarSection">
			<h2><a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'collection', 'id': 'ddb'}) }}">BOEP doc.</a></h2>
		</div>
		<div class="sidebarSection">
			<h2><a href="{{ path('PapyrillioBeehive_ApiaryHoney', {'type': 'collection', 'id': 'dclp'}) }}">BOEP lit.</a></h2>
		</div>
		<div class="sidebarSection">
			<h2><a href="{{ path('PapyrillioBeehive_IndexEntryNew') }}">Neue Wörter</a></h2>
		</div>
		<div class="sidebarSection">
			<h2><a href="{{ path('PapyrillioBeehive_IndexEntryGhostword') }}">Ghostwords</a></h2>
		</div>
		<div id="topic" class="topic_{{ app.request.attributes.get('_route') }}">&nbsp;</div>
    <div id="lefty" class="grid_2">
      <h5>{% block lefty_title %}{% endblock %}</h5>
      {% block lefty %}{% endblock %}
		</div>
	</div>

	<div id="content" class="grid_9">
		{% block body %}{% endblock %}
	</div>

	<div id="right" class="grid_1">
		<div id="quick1">
			<a href="{{ path('PapyrillioBeehive_Archive') }}">Archiv</a>
		</div>
		<div id="quick2">
			<a href="{{ path('PapyrillioBeehive_Apiary') }}">Suche</a>
		</div>
		<div id="quick3">
      <a href="{{ path('PapyrillioBeehive_About') }}">Info</a>
		</div>
    <div id="righty" class="grid_1">
      <h5>{% block righty_title %}{% endblock %}</h5>
      {% block righty %}{% endblock %}
		</div>
	</div>
</div>

<div class="middler">
	<div id="search" class="container_12">
  	  <form id="quicksearch" autocomplete="off" onsubmit="return false;">
	    <input id="quicksearch_id" type="text" size="60" value="TM, HGV, DDB-Hybrid oder BL-Bandnummer eingeben" onclick="if(this.value == 'TM, HGV, DDB-Hybrid oder BL-Bandnummer eingeben'){ this.value=''; };" autocomplete="false"/>
	    <input id="quicksearch_button" type="button" value="Schnellsuche" onlick="return null;" />
	  </form>
	</div>

	<div id="footer" class="container_12">
  	  <div id="footer_left" class="grid_6">
      <!--a href="{{ path('PapyrillioBeehive_About') }}">Info</a>
      <a href="{{ path('PapyrillioBeehive_Contact') }}">Kontakt</a>
      <a href="{{ path('PapyrillioBeehive_Help') }}">Hilfe</a-->
      <a href="https://www.uni-heidelberg.de/fakultaeten/philosophie/zaw" target="_blank">Institut für Papyrologie</a>
      <a href="mailto:papyrologie@zaw.uni-heidelberg.de">E-Mail</a>
      <a href="https://aquila.zaw.uni-heidelberg.de">HGV</a>
      <a href="https://pappal.info">PapPal</a>
      <br/>
      <a href="https://www.uni-heidelberg.de/datenschutzerklaerung_web.html" target="_blank">Datenschutzerklärung der Universität Heidelberg</a>
      </div>
  	  <div id="footer_right" class="grid_6">
      Marstallstr. 6, D-69117 Heidelberg
      <br/>
      Tel.: +049-06221-542396, Fax.: +49-06221-543679
      </div>
	</div>
</div>
    {% block javascripts %}
        <script src="{{ asset('js/jquery/jquery-1.7.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery/jquery-ui-1.8.17.custom.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/main.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
          var quicksearch = function(){
              var url = window.location.href.includes('/dev') ? '/dev/' : '/';
              var id = $('#quicksearch_id').val();
              var valid = true;

              if(id.match(/^\d+$/)){
                url += 'tm';
              } else if (id.match(/^\d+[a-z]+$/)){
                url += 'hgv';
              } else if (id.match(/^.+;.*;.+$/)){
                url += 'ddb';
              } else if (id.match(/^.+;.+;?$/)){
                url += 'volume';
              } else if (id.match(/^[IVXLCDM]+$/)){
                id = ['', 'I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X', 'XI', 'XII', 'XIII', 'XIV', 'XV', 'XVI', 'XVII', 'XVIII', 'XIX', 'XX'].indexOf(id);
                if(id && id > 0){
                  url += 'bl';
                } else {
                  valid = false;
                }
              } else {
                valid = false;
              }
              if(valid){
                url += '/' + id;
                window.location.href = url;
              } else {
                alert('Id oder Bandnummer eingeben, z. B. XIII (für BL XIII), 34844 (für TM/HGV), p.mil;2;64 oder p.mil;1; (für DDB-Hybrid/Band).');
              }
          };

          $(document).ready(function(){
           $('#quicksearch_button').click(quicksearch);
           $('#quicksearch_id').on('keypress', function(event){
             if(event.which == 13){
               quicksearch();
             }
           });
          });
        </script>
    {% endblock %}
    </body>
</html>
