{% extends '::base.html.twig' %}

{% block body %}

<h3>Neue Berichtigung</h3>
<form id="correctionNew" class="new" action="{{ path('PapyrillioBeehiveBundle_correctionnew') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
    
    <input type="hidden" name="redirectTarget" id="redirectTarget" value="show" />

    <div>
        <label>Band</label>
        <select name="compilation">        
        {% for compi in compilations %}
          <option value="{{ compi.id }}" {{ compi.id == form.vars.value.compilation.id ? 'selected="selected"' : '' }}>{{ compi.title }}</option>
        {% endfor %}
        </select>
    </div>

    <div class="compilationPage">
      <label>Seite</label>
      {{ form_widget(form.compilationPage) }}
      {{ form_errors(form.compilationPage) }}
    </div>

    <div>
        <label>BL_Ed_Nr</label>
        <select name="editionSort" id="editionSort" wizard-url="{{ path('PapyrillioBeehiveBundle_numberwizardlookup') }}">        
        {% for edi in editions %}
          <option value="{{ edi.id }}" {{ edi.id == form.vars.value.edition.id ? 'selected="selected"' : '' }}>{{ edi.sort }}</option>
        {% endfor %}
        </select>
    </div>
    <div>
        <label>Edition</label>
        <select name="edition" id="editionTitle" wizard-url="{{ path('PapyrillioBeehiveBundle_numberwizardlookup') }}">
        {% for edi in editions %}
          <option value="{{ edi.id }}" {{ edi.id == form.vars.value.edition.id ? 'selected="selected"' : '' }}>{{ edi.poStrippedTitle }}</option>
        {% endfor %}
        </select>
    </div>
    
    <div class="text">
      {{ form_label(form.text) }}
      {{ form_widget(form.text) }}
      {{ form_errors(form.text) }}
    </div>
    
    <div class="position">
      {{ form_label(form.position) }}
      {{ form_widget(form.position) }}
      {{ form_errors(form.position) }}
    </div>
    
    <div class="description">
      {{ form_label(form.description) }}
      {{ form_widget(form.description, { 'attr': { 'class': 'greek' } }) }}
      {{ form_errors(form.description) }}
    </div>
    
    <h5>Aufgaben definieren</h5>
    {% for task in ['bl', 'hgv', 'tm', 'ddb', 'apis', 'biblio'] %}
      <div class="task {{ task }} greek">
        <label>{{ task | upper }}</label>
        <input name="task[{{ task }}]" id="task_{{ task }}" type="text" />
      </div>
    {% endfor %}
    
    <div class="idno">
      {{ form_rest(form) }}
      <div class="ui-widget" id="duplicateWarning" style="display: none;">
        <div style="padding: 0 .7em;" class="ui-state-error ui-corner-all"> 
          <p><span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span> <strong>Warnung:</strong> Es sind bereits <a href="{{ path('PapyrillioBeehiveBundle_apiaryhoney', {'type': 'hgv', 'id': 0}) }}" id="duplicateLink" target="_blank">Daten</a> für diese HGV Nr. vorhanden! Es könnte sich möglicherweise um ein Duplikat handeln.</p>
        </div>
      </div>
    </div>

    <input class="submit" type="submit" name="new" id="new" value="Datensatz anlegen" />
    <input class="submit" type="submit" name="newAndAgain" id="newAndAgain" value="Datensatz anlegen und hierher zurück springen" />
</form>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  
  <script src="{{ asset('js/jquery/jquery-specialedit.hacked.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/correction.js') }}" type="text/javascript"></script>
  <script src="{{ asset('js/correctionNew.js') }}" type="text/javascript"></script>

{% endblock %}