<table class="reportLeiden">
  <thead>
  <tr>
    <th class="edition ui-state-default ui-th-column ui-th-ltr">Editie</th>
    <th class="text ui-state-default ui-th-column ui-th-ltr">Tekstnr.</th>
    <th class="position ui-state-default ui-th-column ui-th-ltr">Regelnr.</th>
    <th class="description ui-state-default ui-th-column ui-th-ltr">Berichtigung</th>
    <th class="task ui-state-default ui-th-column ui-th-ltr">action internet</th>
    </tr>
  </thead>
  <tbody>
    {% for correction in corrections %}
      <tr id="correction{{ correction.id }}">
        <td class="edition ui-widget-content ui-row-ltr">{{ correction.edition.sort }}={{ correction.edition.title }}</td>
        <td class="text ui-widget-content ui-row-ltr">{{ correction.text }}</td>
        <td class="position ui-widget-content ui-row-ltr">{{ correction.position }}</td>
        <td class="description ui-widget-content ui-row-ltr greek">{{ correction.description }}</td>
        <td class="task ui-widget-content ui-row-ltr">
          {% if correction.hasTask() %}
            <ul>
              {% for task in correction.tasks %}
                <li id="task{{ task.id }}" class="greek">
                  <span>{{ task.category }}</span>:
                  {{ task.description }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>